<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="groupAssignment.Properties.Settings.DataConnectionString"
            connectionString="Data Source=(LocalDB)\v11.0;AttachDbFilename=|DataDirectory|\Data.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
        <add name="groupAssignment.Properties.Settings.ConnectionString"
            connectionString="DATA SOURCE=dilbert.humber.ca:1521/grok;PASSWORD=oracle;PERSIST SECURITY INFO=True;USER ID=KRKP0054"
            providerName="Oracle.ManagedDataAccess.Client" />
    </connectionStrings>
</configuration>